.container {
  position: relative;
  width: 350px;
  height: 400px;
  padding: 30px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field label {
  font-size: 1em;
}

.inputField {
  outline: none;
  border: none;
  background-color: #efefef;
  font-size: 1em;
  width: 55px;
  padding: 3px 5px;
}

.revertButtonContainer {
  margin-top: 20px;
  text-align: right;
}

.revertButton {
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.revertButton:hover {
  opacity: 0.5;
}

.buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons button {
  padding: 5px 25px;
  font-size: 1.3em;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 290px;
  }
}
