.addTaskButton {
  font-size: 1.1em;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(111, 111, 111);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addTaskButton:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
}
