.container {
  border: 1px solid red;
  padding: 10px;
}

.ticket {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

.seeMoreButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  width: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
}

.seeMoreButton:hover {
  color: rgb(108, 108, 108);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.description {
  font-size: 1em;
}

.additionalInfo {
  font-size: 0.8em;
  color: rgb(138, 138, 138);
}

.doneCheckBox {
  position: absolute;
  bottom: 0px;
  right: 5px;
}
