.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 120px 0px;
}

.timer {
  position: relative;
}

.time {
  font-size: 7em;
}

.controller {
  border: 1px solid green;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s opacity;
}

.controller.running {
  opacity: 0.8;
}

.controller:hover {
  opacity: 0.8;
}
