.settings {
  list-style: none;
}

.setting:hover .settingValue,
.setting:hover .settingLabel {
  color: white;
}

.settingLabel,
.settingValue {
  font-size: 1em;
}

.settingLabel {
  font-weight: bold;
}

.settingValue {
  color: #7a7979;
}
