.addTaskButton {
  font-size: 1.1em;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(111, 111, 111);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addTaskButton:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Task Filter */
.taskFilter {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  padding: 5px 20px;
}

.filter {
  font-size: 1.1em;
  width: 120px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px;
  color: gray;
}

.filter:hover {
  color: black;
}

.active {
  color: black;
  font-weight: bold;
}

.all {
  border-right: 2px solid gray;
}
